* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #111111;
    color: #e6e6e6;
}

/* navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* form */

/* Style the form - display items horizontally */

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */

.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: royalblue;
}

/* 
Add responsiveness - display the form controls vertically instead of horizontally
 on screens that are less than 800px wide
*/

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

/* The alert message box */

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alert-success {
    background-color:#25b900;
}

.alert-danger {
    background-color:  #f44336;
}

/* Table */

/* Generic Styling, for Desktops/Laptops */

table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
    background: #884242;
}

th {
    background: #867676;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /* Label the data */
    td:nth-of-type(1):before {
        content: "ID";
    }
    td:nth-of-type(2):before {
        content: "Title";
    }
    td:nth-of-type(3):before {
        content: "ISBN";
    }
    td:nth-of-type(4):before {
        content: "Quatity";
    }
    td:nth-of-type(5):before {
        content: "Created on";
    }
    td:nth-of-type(6):before {
        content: "Updated on";
    }
}

/* cards */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #4bd41533;
    transition: 0.3s;
    padding: 10px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 #2f13cf33
}

/* Add some padding inside the card container */

.cpadding {
    padding: 2px 16px;
}