<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structured-flask-app | Book store app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <ul>
        <li class="row"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="row"><a href="{{ url_for('create') }}">Add</a></li>
        <li class="row"><a href="https://github.com/Otumian-empire/flask-book-app" target="_blank">GITHUB</a></li>
    </ul>
    